* {
  text-align: justify;
}

table {
  margin: 10px;
  width: 750px;
}

table,
tr,
th,
td {
  border: 1px solid black;
}

th {
  text-align: center;
  font-size: 25px;
}

thead td {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

td {
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}

.editor-box { margin-bottom: 25px; }
.editor {
    width: 100%;
    height: 200px;
    border: 1px solid #bbb;
    padding: 10px;
    background: #f1f1f1;
    white-space: pre;
    overflow: auto;
    font-family: Consolas, monospace;
}
.runBtn {
    padding: 6px 12px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}
.output {
    width: 100%;
    height: 130px;
    border: 1px solid #bbb;
    background: white;
    margin-top: 5px;
    padding: 10px;
}