* {
  text-align: justify;
}

table {
  margin: 10px;
}

table,
tr,
th,
td {
  border: 1px solid black;
}

th {
  text-align: center;
  font-size: 25px;
}

thead td {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

td {
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}

textarea {
  width: 100%;
  height: 120px;
  font-size: 16px;
}

iframe {
  width: 100%;
  height: 160px;
  border: 1px solid #000;
  background: white;
}

button {
  margin-bottom: 4px;
}